.StateDiagram {
  position: absolute;
  top: 3vh;
  left: 33vw;

  border-radius: 10px;
  border: 1px solid black;

  width: 60vw;
  height: 45vh;
}

#state-diagram-canvas,
#state-diagram-svg {
  position: absolute;
  top: 0px;
  left: 0px;
}
