.Workspace {
  position: absolute;
  top: 50vh;
  left: 33vw;

  border-radius: 10px;
  border: 1px solid black;

  width: 60vw;
  height: 40vh;
}

.targetObject {
  position: absolute;
  border: 1px solid black;
  background-color: red;
  box-sizing: border-box;
}

#workspace-canvas,
#workspace-svg {
  position: absolute;
  top: 0px;
  left: 0px;
}
